html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: 'TT Lakes';
    overflow: scroll;
}

main {
    background: #F8F8F8;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 88px;
    background-color: #FFFFFF;
}

.menu__high {
    display: none;
}

.menu__btn {
    height: 40px;
    width: 40px;
    left: 16px;
    top: 24px;
    border-radius: 20px;
    border: none;
}

.logo {
    background-image: url(./i/Group.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50px;
    min-width: 96px;
    border: 0;
}

.menu__burger {
    background: #FF3E79 url(./i/burger.png) no-repeat center;
}

.menu__phone {
    background: #FF3E79 url(./i/phone.png) no-repeat center;
}

.menu__chat {
    background: #FF3E79 url(./i/chat.png) no-repeat center;
}

.menu__profile {
    background: #FF3E79 url(./i/profile.png) no-repeat center;
}

.menu__support {
    background: #FF3E79 url(./i/support.png) no-repeat center;
}

.menu__search {
    background: #FF3E79 url(./i/search.png) no-repeat center;
}

.contacts {
    display: none;
}

.vertical_stripe__left {
    display: none;
    height: 32px;
    width: 2px;
    border-radius: 1px;
    background-color: #EAEAEA;
}

.vertical_stripe_right {
    height: 32px;
    width: 2px;
    border-radius: 1px;
    background-color: #EAEAEA;
}

.empty_element {
    display: none;
}

.service__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__service__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
}

.service__wrapper::before {
    content: '';
    width: 4px;
    height: 40px;
    display: block;
    background-image: url("./i/highlight.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 12px;
}

.slide__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden
}

.slide__menu__active {
    border: 2px solid #B8FFEC;
    margin-left: 16px;
    background-color: #FFFFFF;
}

.slide__menu > li {
    list-style-type: none;
    width: fit-content;
    border-radius: 6px;
    display: inline-block;
    width: 246px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    margin-right: 19px;
}

li:last-child {
    margin-right: 0;
}

.slide__menu > li > a {
    display: inline-block; 
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.slide__menu > .slide__menu__third {
    display: none;
}

.slide__menu > .slide__menu__four {
    display: none;
}

.slide__menu > .slide__menu__five {
    display: none;
}

.slide__menu > .slide__menu__six {
    display: none;
}

.slide__menu > .slide__menu__seven {
    display: none;
}

.main__section {
    margin-top: 24px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.text__info__heigh {
    display: none;
}

.text__info__very-heigh {
    display: none;
}

.expand__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
}

.expand__wrapper::before {
    content: '';
    display: block;
    background-image: url(./i/expand.png);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 8px;
    min-height: 11px;
    margin-right: 16px;
}

.office_image {
    min-height: 176px;
    width: 100%;
}

@media (min-width: 768px) {
    .contacts {
        display: block;
    }

    .empty_element {
        display: block;
        min-width: 30%;
        flex-shrink: 0;
    }

    .vertical_stripe__left {
        display: block;
    }

    .slide__menu > .slide__menu__third {
        display: block;
    }
    .slide__menu > .slide__menu__four {
        display: block;
    }
    .main__section {
        display: flex;
        justify-content: space-between;
    }

    .office_image {
        max-width: 45%;
    }

    .image_decoration {
        border-radius: 6px;
    }

    .text__info__heigh {
        display: block;
    }
    .text__info__very-heigh {
        display: none;
    }
}

@media (min-width: 1120px) {

    body {
        background-color: #F8F8F8;
    }

    .menu {
        display: none;
    }

    .menu__high {
        display: block;
        padding-top: 40px;
    }

    .menu__high_style {
        display: flex;
        justify-content: space-between;
        align-self: center;
    }

    .header__service__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu__stripe {
        padding-right: 32px;
        display: flex;
        align-items: center;
    }

    .header__service__wrapper::before {
        content: '';
        width: 4px;
        height: 40px;
        display: block;
        background-image: url("./i/highlight.png");
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 12px;
    }

    .menu__search, .menu__support {
        margin-left: 8px;
    }

    .padding_for_btn {
        padding-left: 32px;
    }

    .service__wrapper {
        display: none;
    }

    .slide__menu {
        flex-wrap: wrap;
        padding-left: 30px;
    }

    .slide__menu__active {
        border: 0;
        background-color: #F8F8F8;
        margin-left: 0;
    }

    .active_to_high {
        border: 2px solid #B8FFEC;
        margin-left: 16px;
        background-color: #FFFFFF;
    }

    .slide__menu > .slide__menu__five {
        display: block;
        order: -5;
    }

    .slide__menu > .slide__menu__first {
        order: -4;
        width: 220px;
        height: 24px;
    }

    .slide__menu > .slide__menu__third {
        order: -3;
        width: 220px;
        height: 24px;
    }

    .slide__menu > .slide__menu__six {
        display: block;
        order: -2;
        width: 220px;
        height: 24px;
    }

    .slide__menu > .slide__menu__seven {
        display: block;
        width: 220px;
        height: 24px;
    }

    .slide__menu > .slide__menu__second {
        display: none;
        width: 220px;
        height: 24px;
    }
    
    .text__info__very-heigh {
        display: block;
    }
}
