html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

body {
    min-width: 320px;
    font-family: 'TT Lakes';
    overflow: scroll;
    overflow-x: hidden;
}

.header {
    background-color: #FFFFFF;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 88px;
}


.menu__btn {
    height: 40px;
    width: 40px;
    left: 16px;
    top: 24px;
    border-radius: 20px;
    border: none;
}

.menu__burger {
    background: #FF3E79 url(./image/icon.png) no-repeat center;
}

.menu__phone {
    background: #FF3E79 url(./image/phone.png) no-repeat center;
}

.menu__chat {
    background: #FF3E79 url(./image/chat.png) no-repeat center;
}

.menu__profile {
    background: #FF3E79 url(./image/profile.png) no-repeat center;
}

.menu__support {
    background: #FF3E79 url(./image/support.png) no-repeat center;
}

.menu__search {
    background: #FF3E79 url(./image/search.png) no-repeat center;
}

.contacts {
    display: none;
}

.menu__long {
    display: flex;
    justify-content: space-between;
}

.additional_info {
    align-self: start;
    display: none;
}

.vertical_stripe__left {
    display: none;
    height: 32px;
    width: 2px;
    left: 186px;
    top: 28px;
    border-radius: 1px;
    background-color: #EAEAEA;
}

.vertical_stripe_right {
    /*order: -1;*/
    height: 32px;
    width: 2px;
    left: 186px;
    top: 28px;
    border-radius: 1px;
    background-color: #EAEAEA;
}

.empty_element {
    display: none;
}

/*----------Main------------*/

main {
    background-color: #F8F8F8;
}

.services {
    display: flex;
    align-items: center;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #F8F8F8;
}

.services__highlight {
    height: 40px;
    width: 4px;
    background: url(./image/highlight.png) no-repeat center;
}

.services > h1 {
    padding-left: 12px;
}

.slide__menu {
    display: flex;
    flex-wrap: nowrap;
}

.slide__menu__btn {
    display: inline-block;
    height: 40px;
    width: 246px;
    margin-left: 16px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    white-space: nowrap;
}

.three, .four, .five, .six, .seven {
    display: none;
}

.active_btn {
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    background: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 8px;
}

.not_active_btn {
    border-radius: 0;
    border: 0;
    background: #F8F8F8;
    height: 40px;
    width: 258px;
}

.text__info__small {
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.text__info__middle {
    display: none;
}

.text__info__heigh {
    display: none;
}

.more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
    padding-bottom: 16px;
}

.more__text {
    padding-left: 16px;
    line-height: 24px;
    font-weight: 600;
}

.office__image {
    min-height: 176px;
    width: 100%;
}

/* Media - header*/
@media (min-width: 768px) {
    body {
    overflow: hidden;
    }
    .menu {
        min-height: 88px;
        align-items: center;
    }
    .contacts {
        display: block;
    }
    .vertical_stripe__left {
        display: block;
    }
    .empty_element {
        display: block;
        width: 30%;
        flex-shrink: 0;
    }

    /*Main*/

    .three, .four {
        display: block;
    }

    .five, .six {
        display: none;
    }

    .container__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 14px;
    }

    .main__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .services > h1 {
        margin: 0;
    }

    .two {
        display: block;
    }

    .office__image {
        border-radius: 6px;
        padding-bottom: 40px;
    }

    .text__info__small, .text__info__heigh {
        display: none;
    }

    .text__info__middle {
        display: block;
        padding-left: 34px;
    }

}

@media (min-width: 1120px) {
    body {
    overflow: hidden;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .contacts {
        display: none;
    }
    .vertical_stripe_right {
        display: none;
    }
    .logo {
        display: none;
    }
    .vertical_stripe__left {
        display: none;
    }
    .menu__burger {
        display: none;
    }
    .header {
        display: flex;
        justify-content: space-between;
        background-color: #F8F8F8;
    }
    .services {
        order: -1;
        background-color: #F8F8F8;
    }
    .empty_element {
        display: none;
    }
    .additional_info {
        display: block;
        align-self: center;
        padding-right: 9px;
    }
    .menu__long {
        padding-left: 32px;
    }
    .menu__support, .menu__search {
        align-self: center;
    }
    .text {
        display: inline-block;
        width: 150px;
        order: -1;
    }

    .five {
        display: block;
        order: -3;
        border-radius: 6px;
        border: 2px solid #B8FFEC;
        background: #FFFFFF;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .one {
        order: -2;
    }
    .active_btn {
        border-radius: 0;
        border: 0;
        background: #F8F8F8;
        height: 40px;
        width: 258px;
    }
    .slide__menu {
        flex-wrap: wrap;
    }
    .slide__menu__btn {
        height: 40px;
        width: 233px;
        border-radius: 6px;
    }
    .two {
        display: none;
    }
    .three {
        order: -1;
    }
    .six {
        display: block;
    }
    .four {
        order: 2;
    }
    .seven {
        display: block;
        order: 3;
    }
    .reviews {
        display: block;
        padding-left: 56px;
    }
    .container__content {
        justify-content: space-between;
    }
    .text__info__small, .text__info__middle {
        display: none;
    }

    .text__info__heigh {
        display: block;
        padding-left: 34px;
    }
}
